# Ignore node_modules directory
node_modules/

# Ignore environment variables
.env

# Ignore logs
logs/

# Ignore built files
build/

# Ignore package-lock.json
package-lock.json

# Ignore .DS_Store files (on macOS)
.DS_Store

# Ignore VSCode settings
.vscode/

# Ignore npm debug log
npm-debug.log

# Ignore yarn debug log
yarn-debug.log

# Ignore yarn error log
yarn-error.log
